{{#section}}
<div class="col-md-14 col-lg-17">
    {{#website}}
    <a href="{{website}}" title="{{name}}" target="_blank">
        <img src="{{logos.web}}" alt="{{name}} logo" title="{{name}}" class="img-responsive padding-bottom-25" />
    </a>
    {{/website}}
    {{^website}}
    <img src="{{logos.web}}" alt="{{name}} logo" title="{{name}}" class="img-responsive padding-bottom-25" />
    {{/website}}

    <p>{{{trimDescription}}}</p>

    {{#listings}}
    <h2>{{name}}&apos;s Marketplace Listings</h2>
    <ul>
    </ul>
    {{/listings}}
</div>
<div class="col-md-10 col-lg-7">

    <div style="border:1px solid #eee; padding:10px" class="margin-bottom-20">
        <img class="img-responsive" src={{getMemberLevelImg}} />
    </div>

    {{#projects.length}}
    <div class="text-highlight margin-bottom-20">
        <i class="fa pull-left fa-trophy orange fa-4x margin-top-10 margin-bottom-25"></i>
        <h3 class="h5 fw-700">{{name}}</h3>
        <p>{{name}} contributes to one or more <a href="#projects">Eclipse Projects!</a></p>
    </div>
    {{/projects.length}}

    {{#shouldShowLinksSideBar}}
    <div class="sideitem">
        <h6>Links</h6>
        <ul class="fa-ul">
            {{#products.length}}
            <li>
                <i class="fa-li fa fa-chevron-circle-right orange"></i>
                {{name}}&apos;s Other Products and Services:
                <ul>
                {{#products}}
                <li><a href={{product_url}} target="_blank">{{name}}</a></li>
                {{/products}}
                </ul>
            </li>
            {{/products.length}}
            {{#projects.length}}
            <li>
                <i class="fa-li fa fa-chevron-circle-right orange"></i>
                {{name}} is an Active Contributor to the following Project(s):
                <ul>
                {{#projects}}
                    {{#active}}
                    <li><a href="https://projects.eclipse.org/projects/{{project_id}}" target="_blank">{{name}}</a></li>
                    {{/active}}
                {{/projects}}
                </ul>
            </li>
            {{/projects.length}}
        </ul>
    </div>
    {{/shouldShowLinksSideBar}}

    <div class="sideitem">
        <h6>Interact</h6>
        <ul class="fa-ul">
            <li>
                <i class="fa-li fa fa-chevron-circle-right orange"></i>
                <a href="https://membership.eclipse.org/portal/org-profile">Edit This Page</a>
            </li>
        </ul>
    </div>
</div>
{{/section}}