/*
 * Copyright (c) 2018 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.news-list {
  h2 {
    color: @featured-block-list-h2-color;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .news-list-icon {
    margin-bottom: 0;
    .feather {
      height: 50px;
      stroke: @featured-block-list-icon-color;
      width: 50px;
    }
  }

  .media-link {
    background-color: @featured-block-list-media-link-bg-color;
    color: @featured-block-list-media-link-color;
    display: block;
    margin-bottom: 10px;
    padding: 30px;
    position: relative;
    &:hover {
      background-color: @featured-block-list-media-link-bg-color-hover;
      color: @featured-block-list-media-link-color;
      text-decoration: none;
    }

    &:visited , &:focus {
      color: @featured-block-list-media-link-color;
    }
    .media-origin-link {
      color: #767676;
      font-size: 12px;
    }
    .media-external-icon {
      position: absolute;
      font-size: 16px;
      top: 33px;
      right: 30px;
    }
  }

  .news-list-col {
    @media (min-width: @screen-md-min) {
      padding-bottom: 70px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .media-heading {
    color: @featured-block-list-media-heading-color;
    font-size: @featured-block-list-media-heading-size;
    font-weight: @featured-block-list-media-heading-weight;
  }

  .media-text {
    color: @featured-block-list-media-text-color;
  }

  .news-list-links {
    text-align: center;
    a {
      color: @featured-block-list-media-link-color;
    }

    .news-list-links-rss {
      border-left: 1px solid @featured-block-list-media-link-color;
      padding-left: 10px;
    }

    .fa-rss {
      color: @brand-warning;
      font-size: 18px;
      margin-left: 10px;
      position: relative;
      top: 2px;
    }
  }
}
