/*
 * Copyright (c) 2018 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

// Classes: Blocks

// Example: eclipse.org/donate
.donation-box {
  text-align: center;
  div:first-child {
    border-style: solid solid none solid;
    border-color: #E5E5E5;
    border-width: 0.1em;
    background: #FAFAFA;
    padding-top: 1em;
    padding-bottom: 1em;
    p.donation-amount {
      font-size: 5em;
    }

    h2 {
      text-transform: uppercase;
      font-size: 1.5em;
      margin-top: 0;
    }
  }

  div + div {
    p {
      padding: 2em;
      margin: 0;
    }
  }
}

// Usefully in the sidebar
.block-box , .sideitem {
  background: @sideitem-bg;
  color: @sideitem-color;
  margin: @sideitem-margin;
  padding: @sideitem-padding;
  border:@sideitem-border;
  h2 , h3 , h6 {
    background: @sideitem-heading-bg;
    color: @sideitem-heading-color;
    margin: @sideitem-heading-margin;
    padding: @sideitem-heading-padding;
    text-transform: @sideitem-heading-transform;
    font-weight: @sideitem-heading-weight;
    font-size: @sideitem-heading-size;
    a:hover {
      color: @sideitem-heading-color-hover;
    }
  }

  .content {
    padding: 0.5em 1em;
  }

  .reset li {
    padding-left: 0;
    padding-bottom: 15px;
    .date {
      padding-bottom: 5px;
      padding-top: 3px;
      font-weight: 600;
      display: block;
      clear: both;
    }
  }

  p {
    padding: @sideitem-p-padding;
  }

  .list-heading {
    font-weight: @sideitem-heading-weight;
    margin-bottom: 4px;
    font-size: @sideitem-heading-size;
  }

  ul {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 2.14286em;
    ul {
      padding-top: 5px;
      li {
        padding-bottom: 2px;
      }
    }
  }
}

.block-box-classic {
  padding: 3px;
  border: 1px solid #d5d5d5;
}


.block-heading{
  background: none repeat scroll 0 0 @brand-tertiary;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
}

.bordered-box {
  & {
    height: 100%;
    border: @bordered-box-border;
  }
  .box-header {
    border-bottom: @bordered-box-border;
  }
  &.bordered-box-light {
    & {
      border: @light-bordered-box-border;
      background-color: @light-bordered-box-bg-color;
    }
    .box-header {
      border-bottom: @light-bordered-box-border;
    }
  }
  .box-header > * {
    padding: @bordered-box-heading-padding;
    margin: 0;
  }
  .box-body {
    padding: @bordered-box-padding;
    .logos {
      max-height: 120px;
    }
  }
}
@media (min-width: @screen-sm-min) {
  .bordered-box .box-header .box-header-logo {
    padding: @bordered-box-logo-padding;
  }
}